.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
   
}

.bg{
    position: fixed;
    margin: 0;
    padding: 0;
}


body{
    background-color: hsl(275, 100%, 97%);
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p{
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    color: hsl(292, 42%, 14%);
}

p:active{
    color:hsl(292, 16%, 49%);
}


.box{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    z-index: 2;
    overflow-wrap: break-word;
    white-space: normal;
}

section div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom:10px;
}

section div p{
    color: black;
    font-weight: bold;
}

section p{
    width: 480px;
    color:hsl(292, 16%, 49%);
    font-weight: 400;
    font-size: 16px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

header{
    display: flex;
    align-items: center;
    gap: 20px;
}

h1{
    font-size: 40px;
    font-weight: 800;
}

section svg{
    cursor: pointer;
}

@media (min-width:0px) and (max-width:450px) {
    .box{
        width: 250px;
    }

    section p{
        width: 280px;
    }

}

@media (min-width: 450px) and (max-width: 720px) {
    .box{
        width: 350px;
    }

    section p{
        width: 340px;
    }
}


@media (min-width:900px) {
    .box{
        width: auto;
    }
    section p{
        width: 480px;
    }
}